//font sizes
$font-size--s: 8px;
$font-size--m: 16px;
$font-size--l: 24px;
$font-size--xl: 32px;
$font-size--xxl: 64px;

.heading {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2em;
}

.heading--splash {
  font-size: $font-size--xxl;
  @extend .heading--color-white;
  @extend .util--text-align-c;
}

.heading--level-1 {
  font-size: $font-size--xl;
} 

.heading--level-2 {
  font-size: $font-size--l;
}

.heading--level-3 {
  font-size: $font-size--m;
}

.heading--level-4 {
  font-size: $font-size--l;
  font-weight: bold;
}

.heading--level-5 {
  font-size: $font-size--m;
  margin-bottom: $margin--s;
  border-bottom: 1px solid $gray;
}

.heading--color-white        { color: $white; }
.heading--color-blue         { color: $blue; }
.heading--color-pink         { color: $pink; }
.heading--color-gray-dark    { color: $gray-dark; }
.heading--color-gray         { color: $gray; }

a:hover { color: $blue; }
a.link-color--blue { color: $blue; &:hover { color: $blue-light; } }

p {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: $font-size--m;
  line-height: 1.4em;
}

.util--text-align-c {
  text-align: center;
}
.util--font-bold {
  font-weight: bold;
}

@media (max-width: $breakpoint-medium) {
  .heading--splash {
    font-size: $font-size--xl;
  }
}
