
$nav-height: 50px;

// colors
$cream: #fae7a7;
$mint: #90d999;
$green: #81c14b; 
$green-darker: #4d732d;
$rose: #ff9999;
$pink: #e5005b;
$lavender: #b19cd9;
$blue-light: #a5d6e8;
$blue: #5eb1bf;
$blue-dark: #042a2b;
$white: #ffffff;
$gray-lightest: #fcfcfc;
$gray-light: #e4e4e4;
$gray: #cccccc;
$gray-dark: #36393b;
$black: #121211;

// padding
$padding--xs: 4px;
$padding--s: 8px;
$padding--m: 16px;
$padding--l: 24px;
$padding--xl: 32px;
$padding--xxl: 64px;
$padding--xxxl: 128px;

//margin
$margin--s: 8px;
$margin--m: 16px;
$margin--l: 24px;
// border radius
$border-radius: 4px;

// z-index
.z-index--1 { z-index: 1; }
.z-index--2 { z-index: 2; }
.z-index--3 { z-index: 3; }
.z-index--4 { z-index: 4; }

// breakpoints
$breakpoint-medium: 768px;
$breakpoint-small: 320px;
