
$nav-height: 64px;

// colors
$green: #81c14b; 
$pink: #e5005b;
$blue-light: #54f2f2;
$blue: #5eb1bf;
$blue-dark: #042a2b;
$blue: #2196f3;
$white: #ffffff;
$gray-lightest: #fcfcfc;
$gray-light: #e4e4e4;
$gray: #cccccc;
$gray-dark: #36393b;
$black: #121211;

// padding
$padding--xs: 4px;
$padding--s: 8px;
$padding--m: 16px;
$padding--l: 24px;
$padding--xl: 32px;
$padding--xxl: 64px;
$padding--xxxl: 128px;

// border radius
$border-radius: 4px;

// z-index
.z-index--1 { z-index: 1; }
.z-index--2 { z-index: 2; }
.z-index--3 { z-index: 3; }
.z-index--4 { z-index: 4; }
