
$nav-height: 64px;

// colors

$purple: #4a148C;
$purple-light: #ce93d8;
$blue: #2196f3;
$white: #FFFFFF;
$gray-dark: #36393b;

// padding
$padding--s: 8px;
$padding--m: 16px;
$padding--l: 32px;
$padding-xl: 64px;
