.flex-grid {
  display: flex;
  flex-wrap: wrap;

  .flex-grid__item {
    width: 33.33%;
  }
}

.flex-grid--thirds {
  .flex-grid__item {
    width: 33.33%;
  }
}

.flex-grid--halves {
  justify-content: space-between;
  .flex-grid__item {
    width: 48%;
  }
}

@media (max-width: $breakpoint-medium) {
  .flex-grid--thirds {
    .flex-grid__item {
      width: 100%;
    }
  }

  .flex-grid--halves {
    .flex-grid__item {
      width: 100%;
    }
  }
}
