.site-layout {
  margin-top: $nav-height;

  .site-layout__inner {
    padding-top: $padding--l;
    padding-left: $padding--xxxl;
    padding-right: $padding--xxxl;
    padding-bottom: $padding--l;
  }
}

@media (max-width: $breakpoint-medium) {
  .site-layout {
    .site-layout__inner {
      padding-left: $padding--l;
      padding-right: $padding--l;
    }
  }
}
