.media-block {
  display: flex;
  flex-wrap: none;
  align-items: center;

  .media-block__media {

  }

  .media-block__content {
    padding-left: $padding--s;

  }
}


.media-block--alt-side {
  .media-block__media {
    order: 2;
  }
  .media-block__content {
    padding-left: 0px;
    padding-right: $padding--s;
    order: 1;
  }
}

.media-block--spread {
  justify-content: space-between;
}
