.button {
  color: $white;
  border-radius: $border-radius;
  padding: $padding--s $padding--m;
  border: 0;
  font-size: $font-size--m;
}

.button--has-icon {
  display: flex;
  .button__icon {

  }
  .button__text {
    padding-left: $padding--s;
  }
}

.button--color-black {
  background-color: $black;
  &:hover {
    background-color: $gray-dark;
  }
}

.button--color-mint       { background-color: $mint; }
.button--color-cream      { background-color: $cream; }
.button--color-rose       { background-color: $rose; }
.button--color-lavender   { background-color: $lavender; }
.button--color-blue-light { background-color: $blue-light; }
.button--color-gray       { background-color: $gray; }


.button--width-full { width: 100%; }

.button--circle { border-radius: 50%; }

.button--circle {
  &.button--has-icon {
    padding: $padding--s;
    font-size: 0px;
  }
}

$button--icon--size-xs: 12px;
$button--icon--size-m: 32px;
.button__icon {
  height: $button--icon--size-m;
  width: $button--icon--size-m;
}

.button__icon--xs {
  height: $button--icon--size-xs;
  width: $button--icon--size-xs;
}

.button:disabled {
  @extend .button--color-gray;
}
