$image-height-medium: 226px;

.image-frame {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-frame--medium {
  max-height: $image-height-medium;
}

.image-frame--top-round {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.image-frame--round {
  border-radius: $border-radius;
}

.image-frame--upload {
  //no-op
}
