$image-height: 256px;

.image-frame {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: $image-height;
}

.image-frame--top-round {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
