.input-field {
  padding: $padding--s;
  border-radius: $border-radius;
  border: 1px solid $gray-light;
  width: 100%;
  font-size: $font-size--m;
}

.input-field:focus {
  border: 1px solid $gray;
}

