.input-field {
  padding: $padding--s;
  border-radius: $border-radius;
  border: 1px solid $gray-light;
  width: 100%;
  font-size: $font-size--m;
}

.input-field:focus { @extend .input-field--border--blue; }

//colors
.input-field--border--blue  { border-color: $blue } 
.input-field--border--pink  { border-color: $pink; }
.input-field--border--green { border-color: $green; }

