.modal {
  margin-left: auto;
  margin-right: auto;
  border-radius: $border-radius;
  background-color: $white;
  padding: $padding--l;
  max-width: 60%;
  padding-bottom: $padding--xxl;
  @extend .z-index--4;

  .modal__head {
    display: flex;
    justify-content: space-between;

    .modal__title {
      
    }
    .modal__close {
      align-self: right;
      color: $black;
      padding-right: $padding--s;
      font-size: $font-size--l;
    }
  }

  .modal__body {
  }

}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  overflow-y: auto;
  @extend .z-index--3;

  .modal-overlay__inner {
    padding-top: $padding--xxl;
    padding-left: $padding--xxl;
    padding-right: $padding--xxl;
  }
}
