.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: 9999;
  @extend .heading;
  @extend .heading--level-3;

  .nav__inner {
    padding: $padding--s; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo { 
    padding: $padding--s;
    color: $gray-dark;
    flex: 2;
  }

  .nav__items {
    display: flex;
    justify-content: space-between;

    .nav__links {
      display: flex;
      // helper for grouped links
    }

    .nav__link {
      color: $gray-dark;
      padding-left: $padding--s;
      padding-right: $padding--s;
    }
  }
}
