svg {
  fill: currentColor;
  stroke: currentColor;
  height: inherit;
  width: inherit;
}

.svg-container {
  @extend .svg-container--fill-gray-light;
}

.svg-container--small {
  height: 24px;
  width: 24px;
}

.svg-container--fill-black      { color: $black; fill: $black; }
.svg-container--fill-gray-light {
  color: $gray-light; fill: $gray-light;
  &.svg-container--hoverable:hover { color: $gray; fill: $gray; }
}
.svg-container--fill-blue       {
  color: $blue; fill: blue;
  &.svg-container--hoverable:hover { color: $blue-light; fill: $blue-light; }
} 
