<!DOCTYPE html>
<html>
  <head>
    <title>Creamery</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Josefin+Sans:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiPbYyYk60O72Pumu9qr51R3qrzB0P6ZE&libraries=places"></script>
    <!-- Meta Tags -->
    <meta name="description" content="Review and share ice creams with a community of dessert lovers." />

    <!-- Twitter  -->
    <meta name="twitter:card" content="Review and share ice creams with a community of dessert lovers." />
    <meta name="twitter:site" content="@tracidini" />
    <meta name="twitter:title" content="Creamery" />
    <meta name="twitter:description" content="Review and share ice creams with a community of dessert lovers." />
    <meta name="twitter:creator" content="@tracidini" />
    <meta name="twitter:image" content="https://ice-creamery.herokuapp.com/creamery-shareable.png" />

    <!-- OG Facebook -->
    <meta property="og:title" content="Creamery" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ice-creamery.herokuapp.com/" />
    <meta property="og:image" content="https://ice-creamery.herokuapp.com/creamery-shareable.png" />
    <meta property="og:description" content="Review and share ice creams with a community of dessert lovers." />
    <meta property="og:site_name" content="Creamery" />
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-96274175-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>
