<!DOCTYPE html>
<html>
  <head>
    <title>Creamery</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Josefin+Sans:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Meta Tags -->
    <meta name="description" content="Review and share ice creams with a community of dessert lovers." />

    <!-- Twitter  -->
    <meta name="twitter:card" content="Review and share ice creams with a community of dessert lovers." />
    <meta name="twitter:site" content="@tracidini" />
    <meta name="twitter:title" content="Creamery" />
    <meta name="twitter:description" content="Review and share ice creams with a community of dessert lovers." />
    <meta name="twitter:creator" content="@tracidini" />
    <meta name="twitter:image" content="https://ice-creamery.herokuapp.com/creamery-shareable.png" />

    <!-- OG Facebook -->
    <meta property="og:title" content="Creamery" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ice-creamery.herokuapp.com/" />
    <meta property="og:image" content="https://ice-creamery.herokuapp.com/creamery-shareable.png" />
    <meta property="og:description" content="Review and share ice creams with a community of dessert lovers." />
    <meta property="og:site_name" content="Creamery" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
